@model Orion.CRM.WebApp.Models.AppUser.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/AppUser/ResetPasswordHandler" method="post">
    <input type="hidden" asp-for="@Model.UserId" />
    <div class="panel panel-default" style="width:700px">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>

            @if (TempData["result"] != null) {
                if ((bool)TempData["result"]) {
                        <!--操作成功通知-->
                    <div class="alert alert-success" id="successAlert" style="max-width:540px;margin:10px 0px 20px 0px">
                        <button class="close" data-dismiss="alert">×</button>
                        <span>密码修改成功！</span>
                    </div>
                }
                else {
                        <!--操作失败通知-->
                    <div class="alert alert-error" id="errorAlert" style="max-width:540px;margin:10px 0px 20px 0px">
                        <button class="close" data-dismiss="alert">×</button>
                        <span>密码修改失败，请重试！</span>
                    </div>
                }
            }

            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:150px">用户</td>
                        <td class="controls">
                            @Model.Realname/@Model.UserName
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px">新密码<span class="tip">*</span></td>
                        <td class="controls">
                            <input type="password" asp-for="@Model.Password" class="default-input" autocomplete="off" placeholder="新密码" maxlength="18" reg="regString" is-null="required" />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px">确认新密码<span class="tip">*</span></td>
                        <td class="controls">
                            <input type="password" asp-for="@Model.ConfirmPassword" class="default-input" autocomplete="off" placeholder="确认密码" maxlength="18" reg="regString" is-null="required" />
                            <br />
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary" onclick="return checkForm()">保存</button>
                <a href="/AppUser/List" class="btn">返回</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var rootNode = $('form');
            rootNode.on('blur', 'input,select', function () {
                // 为表单中的文本框,下拉框绑定onfocus事件
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            });
        });

        function checkForm() {
            var result = true;
            // 首先验证表单
            var firstEmpty;
            try {
                $('form').find("input,select").each(function () {
                    var res = inputCheck($(this));
                    if (!res) {
                        result = res;
                        if (!firstEmpty) {
                            firstEmpty = $(this);
                        }
                    }
                });
            }
            catch (ex) {
                result = false;
                console.info('表单验证过程中发现异常：' + ex);
            }

            if (firstEmpty) firstEmpty.focus();
            // 密码长度和两次密码输入是否一致的验证
            if (result) {
                var oldPassword = $('#OldPassword').val();
                var password = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();
                var message = '<span class="tip">密码长度必须大于等于6位</span>';
                if (password.length < 6) {
                    $('#Password').parents(".controls").append(message);
                    result = false;
                }
                else if (confirmPassword.length < 6) {
                    $('#ConfirmPassword').parents(".controls").append(message);
                    result = false;
                }
                else if (password != confirmPassword) {
                    $('#ConfirmPassword').parents(".controls").append('<span class="tip">两次密码输入不一致</span>');
                    result = false;
                }
            }
            console.info('表单验证结果：' + result);
            return result;
        }
    </script>
}

