<?xml version="1.0" encoding="utf-8"?>
<DBProviderConfig>
  <DBProviders>
    <DBProvider category="SqlServer">
      <DBConnections>
        <DBConnection name="OrionCRM" connection="Data Source=139.224.118.227;Initial Catalog=OrionCRM;Persist Security Info=True;User ID=sa;Password=Qingcloud!@#$"/>
        <!--<DBConnection name="OrionCRM" connection="Data Source=111.231.102.71;Initial Catalog=OrionCRM;Persist Security Info=True;User ID=sa;Password=Qingcloud!@#"/>-->
      </DBConnections>
    </DBProvider>
    <DBProvider category="MySql">
      <DBConnections>
        <DBConnection name="Test" connection="Data Source=xxx;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=123456"/>
      </DBConnections>
    </DBProvider>
  </DBProviders>
</DBProviderConfig>