
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="display:none">
    <li><a href="/Resource/List">资源管理</a></li>
    <li class="active">资源列表</li>
</ol>


<div class="navbar">
    <div class="navbar-inner">
        <ul class="breadcrumb">
            
            <li>
                <a href="#">资源管理</a> <span class="divider">/</span>
            </li>
            <li class="active">资源列表</li>
        </ul>
    </div>
</div>

