
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/assets/morris.chart/0.5.1/morris.css" rel="stylesheet" />
    <link href="~/css/chart-extension-rank.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/morris.chart/0.5.1/raphael-min.js"></script>
    <script src="~/assets/morris.chart/0.5.1/morris.min.js"></script>
    <script type="text/javascript">
    /*
    图表的初始化
    */
    $(function () {
        /* 数据格式化 */
        var dataFormat = function (jsonArr) {
            var arr = [];
            for (var i = 0; i < jsonArr.length; i++) {
                var item = jsonArr[i];
                arr.push({ label: item.GroupName, value: item.GroupSaleAmount });
            }
            return arr;
            };

        // 月业绩数据准备
        var monthJsonString = $('#hidMonthSigns').val();
        var month_data = [];
        if (monthJsonString) {
            var jsonArr = JSON.parse(monthJsonString);
            //for (var i = 0; i < jsonArr.length; i++) {
            //    var item = jsonArr[i];
            //    month_data.push({ label: item.GroupName, value: item.GroupSaleAmount });
            //}
            //console.info(month_data);
            month_data = dataFormat(jsonArr);
        }
        // 年业绩数据准备
        var yearJsonString = $('#hidYearSigns').val();
        var year_data = [];
        if (yearJsonString) {
            var jsonArr = JSON.parse(yearJsonString);
            year_data = dataFormat(jsonArr);
        }

        // 环形图
        Morris.Donut({
            element: 'month',
            data: month_data,
            formatter: function (y) { return y + "元" }
        });

        // 柱状图
        Morris.Bar({
            element: 'year',
            data: year_data,
            xkey: 'label',
            ykeys: ['value'],
            labels: ['业绩'],
            barRatio: 0.4,
            xLabelAngle: 35,
            hideHover: 'auto'
        });
    });
    </script>
}
<h3>业绩概览</h3>
<input type="hidden" id="hidMonthSigns" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MonthSigns)" />
<input type="hidden" id="hidYearSigns" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.YearSigns)" />

<!--当月业绩，环形图-->
<div class="row">
    <div style="width:700px">
        <div class="graph-container">
            <span class="graph-mark">月度</span>
            <div class="caption">当月业绩</div>
            <div id="month" class="graph" style="position:relative;"></div>
        </div>
    </div>
</div>


<!--本年业绩，柱状图-->
<div class="row">
    <div style="width:700px">
        <div class="graph-container">
            <span class="graph-mark">年度</span>
            <div class="caption">本年业绩(2017-1-1至今)</div>
            <div id="year" class="graph" style="position:relative;"></div>
        </div>
    </div>
</div>

<!--最佳业务排行-->
<div class="row">
    <div style="width:700px">
        <div class="graph-container">
            <span class="graph-mark">业务排行</span>
            <div class="caption">最具潜力业务排行(top20)</div>
            <div id="saler" style="padding:20px;width:510px">
                <div class="by afz">
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 62.4%;"></span>
                        <span>United States</span>
                        <span class="axn">62.4%</span>
                    </a>
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 15.0%;"></span>
                        <span>India</span>
                        <span class="axn">15.0%</span>
                    </a>
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 5.0%;"></span>
                        <span>United Kingdom</span>
                        <span class="axn">5.0%</span>
                    </a>
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 5.0%;"></span>
                        <span>Canada</span>
                        <span class="axn">5.0%</span>
                    </a>
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 4.5%;"></span>
                        <span>Russia</span>
                        <span class="axn">4.5%</span>
                    </a>
                    <a class="rp tr yg" href="#">
                        <span class="azj" style="width: 2.3%;"></span>
                        <span>Mexico</span>
                        <span class="axn">2.3%</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
