@model  Orion.CRM.ConsoleApp.Models.Organization.OrganizationViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Organization/OrgList">组织机构</a></li>
    <li class="active">创建</li>
</ol>

<div class="alert" style="display:none">
    <span></span><i class="glyphicon glyphicon-remove"></i>
</div>

<input type="hidden" id="Type" value="@Model.Type" />
<form action="/Organization/CreateHandler" method="post">
    <div class="panel panel-default" style="width:700px">
        <div class="panel-heading">
            <h3 class="panel-title">创建组织机构</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td>组织名称<span class="required">*</span></td>
                    <td><input type="text" id="OrgName" name="OrgName" reg="regString" maxlength="20" /></td>
                </tr>
                <tr>
                    <td>组织代码<span class="required">*</span></td>
                    <td><input type="text" id="OrgCode" name="OrgCode" reg="regString" maxlength="20" /></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary" onclick="return validateForm()">保存</button>
            <button type="button" class="btn btn-default" onclick="javascript: window.location = '/Organization/OrgList';">返回</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        var rootNode = $('form');
        rootNode.on('blur', 'input', function () {
            if($('.alert').is(":visible")){
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            }
        });

        function validateForm() {
            var validateResult = true;

            if (!inputCheck($("[id='OrgName']"))){
                validateResult = false;
            }
            else if (!inputCheck($("[id='OrgCode']"))){
                validateResult = false;
            }


            console.info("表单验证结果：" + validateResult);
            return validateResult;
        }
    </script>
}