
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div style="display:flex;flex-wrap:wrap;align-items:flex-end;">
    <div style="width:280px;height:160px; border:1px solid red;"></div>
    <div style="width:280px;height:220px; border:1px solid red;"></div>
    <div style="width:280px;height:300px; border:1px solid red;"></div>
    <div style="width:280px;height:200px; border:1px solid red;"></div>
    <div style="width:280px;height:160px; border:1px solid red;"></div>
    <div style="width:280px;height:270px; border:1px solid red;"></div>
</div>

