@model Orion.CRM.WebApp.Models.Account.FindMyPasswordModel
@{
    ViewData["Title"] = "FindMyPassword";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>找回密码</title>
    <style type="text/css">
        .input-login {
            width: 200px;
            font-size: 14px;
            color: #555;
            height: auto;
            /*margin-bottom: 15px;*/
            padding: 7px 9px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }

        input[type=text]:focus, input[type=password]:focus, textarea:focus {
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
            outline: thin dotted \9;
            /* IE6-9 */
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        }

        .btn-submit {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            padding: 6px 26px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            vertical-align: bottom;
        }

        .skyblue {
            outline: 0;
            color: #ffffff;
            background: #0078DB;
            border: 1px solid white;
        }

        .btn-submit:hover {
            outline: 0;
            /*border: 1px solid #337ab7;*/
            background-color: #337ab7;
        }

        body {
            background-color: #F5F5F5;
            color: #4c4c4c;
            font-size: 14px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: #2672EC;
            cursor: pointer
        }

        a:hover {
            color: #337ab7;
            text-decoration: underline
        }

        .error-info {
            color: red;
            padding-left: 10px;
        }

        .hide {
            display: none
        }

        .alert {
            float: left;
            background-color: #faebcc;
            margin-bottom: 10px;
            width: 200px;
            padding: 5px 5px;
            border-radius: 3px;
            margin-left: 30px;
        }
        .btn-code {
            border: 1px solid #C9C9C9;
            padding: 3px 5px;
            margin-top: 4px;
            cursor: pointer;
            color:#666;
        }
        .btn-code:hover {
            border: 1px solid #7A7A7A;
            color: #333;
        }

        .table {
            float: left;
            margin-left: 30px; 
            border-collapse:collapse;
        }
        .table tr,td{
            height:48px;line-height:48px;
        }
        .code-success{color:green}
        .code-fail{color:red}
    </style>
</head>
<body>
    <div id="container" style="width: 1000px; margin: auto;">
        <input type="hidden" id="hidErrorCode" value="@ViewBag.ErrorCode" />
        <div style="width:100%; margin-top:110px;margin-bottom:50px;">
            <img src="http://ortszl528.bkt.clouddn.com/cover.png" style="width:604px;height:400px;float:left" />
            <div style="float:left; margin:20px 0px 20px 30px;font-size:16px" class="title">密码找回 - CRM客户管理系统</div>
            <div id="message" class="alert" style="display:none"></div>

            <table class="table">
                <tr>
                    <td>
                        <input type="text" class="input-login" asp-for="@Model.Email" autocomplete="off" placeholder="邮箱地址" reg="regStr" maxlength="20" required="required" />
                    </td>
                    <td style="vertical-align:top">
                        <input type="button" value="获取验证码" class="btn-code" onclick="sendVerificationCode()" />
                    </td>
                </tr>
                <tr style="height:15px;line-height:15px;display:none" id="tdCodeSendTip">
                    <td colspan="2" style="height:15px;line-height:15px;padding-left:2px;"><span class="code-success" id="spanCodeSendTip"></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" class="input-login" asp-for="@Model.VerCode" autocomplete="off" placeholder="验证码" reg="regStr" maxlength="4" required="required" style="width:90px" />
                        <span class="error-info hide" errormsg="请输入验证码"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="password" class="input-login" asp-for="@Model.Password" autocomplete="off" placeholder="请输入新密码" reg="regStr" maxlength="18" required="required" />
                        <span class="error-info hide" errormsg="请输入新密码"></span>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2" style="color: red" id="tdTips"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn-submit skyblue" onclick="changePassword()">重置密码</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        返回<a href="/Account/Login" class="a-reg">登录</a>
                    </td>
                </tr>
            </table>

            <div style="float:left;margin-left:30px;margin-top:20px;display:none" id="success">
                密码<span style="color:green">修改成功</span>！<span id="spanTimer">5</span>秒后跳转至<a href="/Account/Login" class="a-reg">登录</a>页。
            </div>
            <div style="float:left;margin-left:30px;margin-top:20px;color:red;display:none" id="fail">
            </div>
        </div>

        <div style="clear:both"></div>
        <div style="clear:both;margin-top:20px;">
            ©2017-2020 CRM客户管理系统, all rights reserved
        </div>
    </div>

    <script type="text/javascript" src="~/vendors/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        var regEmail = /^(?!^[\.|_|-])[A-Za-z0-9\u4e00-\u9fa5._-]*[^\.|_|@@|-]@@[A-Za-z0-9\u4e00-\u9fa5\_-]*[^\.|_|-]((\.[A-Za-z]+){1,2}|(\.[\u4e00-\u9fa5]+){1,2})$/;
        function sendVerificationCode() {
            var email = $('#Email').val();
            if (!email) {
                $('#spanCodeSendTip').html('请输入您账户绑定的邮箱地址，谢谢！');
                $('#spanCodeSendTip').attr("class", "code-fail");
                $('#Email').focus();
                $('#tdCodeSendTip').show();
            }
            else if (!regEmail.test(email)) {
                $('#spanCodeSendTip').html('邮箱地址格式有误！');
                $('#spanCodeSendTip').attr("class", "code-fail");
                $('#Email').focus();
                $('#tdCodeSendTip').show();
            }
            else {
                $('#spanCodeSendTip').html('');
                $('#tdCodeSendTip').hide();
                $.get("/Account/SendVerCode", { "email": email }, function (result) {
                    if (result == "-1") {
                        $('#spanCodeSendTip').html('抱歉，此邮箱没有和任何用户绑定。');
                        $('#spanCodeSendTip').attr("class","code-fail");
                    }
                    else if (result == "1") {
                        $('#spanCodeSendTip').html('验证码已发送至您的邮箱，请在5分钟内使用。');
                        $('#spanCodeSendTip').attr("class","code-success");
                    }
                    else if(result == "0") {
                        $('#spanCodeSendTip').html('抱歉，验证码发送失败，请尝试使用QQ、163、126、gmail等常见邮箱。');
                        $('#spanCodeSendTip').attr("class","code-fail");
                    }
                    $('#tdCodeSendTip').show();
                });
            }
        }

        function changePassword() {
            var result = true;

            var email = $('#Email').val();
            var verCode = $('#VerCode').val();
            var password = $('#Password').val();

            if (!email) {
                $('#tdTips').html('请输入您账户绑定的邮箱地址，谢谢！');
                $('#Email').focus();
                result = false;
            }
            else if (!regEmail.test(email)) {
                $('#tdTips').html('邮箱地址格式有误！');
                $('#Email').focus();
                result = false;
            }
            else if (!verCode) {
                $('#tdTips').html('请输入验证码！');
                $('#VerCode').focus();
                result = false;
            }
            else if (!password) {
                $('#tdTips').html('请输入密码！');
                $('#Password').focus();
                result = false;
            }
            else if (password.length < 6) {
                $('#tdTips').html('密码长度为6-18位！');
                $('#Password').focus();
                result = false;
            }
            $('#fail').hide();
            $('#success').hide();
            if (result) {
                $('#tdTips').parent().hide();//到此处说明验证已通过，所以隐藏错误信息

                $.post("/Account/ResetPassword", { "email": email, "password": password, "code": verCode }, function (res) {
                    if (res == -1) {
                        $('#fail').html('验证码无效或已过期！');
                        $('#fail').show();
                    }
                    else if (res == -2) {
                        $('#fail').html('用户不存在！');
                        $('#fail').show();
                    }
                    else if (res == 0) {
                        $('#fail').html('抱歉，密码重置失败，请重试或联系管理员！');
                        $('#fail').show();
                    }
                    else if (res == 1) {
                        $('#success').show();
                        var interval = setInterval(function () {
                            var count = $('#spanTimer').html();
                            if (count > 0) {
                                count = count - 1;
                                $('#spanTimer').html(count);
                            }
                            else {
                                clearInterval(interval);
                                window.location = "/Account/Login";
                            }
                        }, 1000);
                    }
                    else {
                        $('#fail').html('发生未知错误，请重试或联系管理员！');
                        $('#fail').show();
                    }
                });
            }
            else {
                $('#tdTips').parent().show();
            }
        }

        window.onload = function () {
            if (navigator.userAgent.toLowerCase().indexOf("chrome") != -1) {
                var selectors = $("input[type='text']");
                for (var i = 0; i < selectors.length; i++) {
                    var inputid = $(selectors[i]).attr("id");
                    if (inputid == "Email" || inputid == "VerCode" || inputid == "Password") {
                        $(selectors[i]).val(" ");
                    }
                }
                setTimeout(function () {
                    for (var i = 0; i < selectors.length; i++) {
                        if (inputid == "Email" || inputid == "VerCode" || inputid == "Password") {
                            $(selectors[i]).val("");
                        }
                    }
                }, 100)    　　
            }
        }
    </script>
</body>
</html>

