@model Orion.CRM.WebApp.Models.Account.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>登录系统</title>
    <style type="text/css">
        .input-login {
            width: 180px;
            font-size: 14px;
            color: #555;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
        }
        input[type=text]:focus, input[type=password]:focus, textarea:focus {
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
            outline: thin dotted \9;
            /* IE6-9 */
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        }
        .btn-submit {
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            padding: 6px 26px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            vertical-align: bottom;
        }
        .skyblue {
            outline: 0;
            color: #ffffff;
            background: #0078DB;
            border: 1px solid white;
        }
        .btn-submit:hover {
            outline: 0;
            /*border: 1px solid #337ab7;*/
            background-color: #337ab7;
        }
        body {
            background-color: #F5F5F5;
            color: #4c4c4c;
            font-size: 14px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        a{font-weight: bold;text-decoration: none;color: #2672EC;cursor: pointer}
        a:hover {color: #337ab7;text-decoration:underline}

        .error-info{color:red;padding-left:10px;}
        .hide{display:none}

        .alert {
            float:left;
            background-color: #faebcc;
            margin-bottom: 10px;
            width: 200px;
            padding: 5px 5px;
            border-radius: 3px;
            margin-left: 30px;
        }

    </style>
</head>
<body>
    <div id="container" style="width: 1000px; margin: auto">
        <input type="hidden" id="hidErrorCode" value="@ViewBag.ErrorCode" />
        <div style="width:100%; margin-top:110px;margin-bottom:50px;">
            <span style="position:absolute;right:50px;top:50px;display:none ">助您增长业务<br/>并提高客户对您的忠诚度</span>
            <img src="~/images/cover.png" style="width:650px;height:430px;float:left" />
            <div style="float:left; margin:20px 0px 20px 30px;font-size:16px" class="title">CRM客户管理系统</div>
            <div id="message" class="alert" style="display:none"></div>
            <form method="post" action="/Account/LoginHandler">
                <table style="float:left;margin-left:30px">
                    <tr>
                        <td>
                            <input type="text" asp-for="@Model.UserName" class="input-login" placeholder="用户名" reg="regStr" maxlength="20" value="dk1" required="required" />
                            <span class="error-info hide" errormsg="请输入用户名"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" asp-for="@Model.Password" class="input-login" placeholder="密码" reg="regStr" maxlength="20" value="123456" required="required" />
                            <span class="error-info hide" errormsg="请输入密码"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn-submit skyblue" onclick="return validateForm()">登录</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="float:left;border:0px solid blue; margin-left:30px;margin-top:28px;">
                忘记密码？<a href="/Account/FindMyPassword" class="a-reg">点此找回</a>
            </div>
        </div>

       <div style="clear:both"></div>
        <div style="clear:both;margin-top:20px;">
            ©2017-2020 CRM客户管理系统, all rights reserved
        </div>
    </div>

    <script type="text/javascript" src="~/vendors/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        var regStr = /^[A-Z0-9a-z]+$/;
        var firstErrorInput;
        var errorCount = 0;
        var formResult = true;

        /*
        * 通用文本框内容验证方法：使用正则表达式进行文本框输入内容的验证
        * @@param input 文本框对象
        */
        function inputCheck(input) {
            if (input.length > 0) {
                var reg = eval(input.attr("reg"));
                var required = input.attr("required");
                var val = $.trim($(input).val() || $(input).find("option:selected").val());
                if (required == "required" && (val == "" || val == undefined)) {
                    // fail
                    errorCount++;
                    formResult = false;
                    showErrorTips(input);
                }
                else if (!reg.test(val)) {
                    // fail
                    errorCount++;
                    formResult = false;
                    showErrorTips(input, '用户名格式有误');
                }
                else {
                    // success
                    hideErrorTips(input);
                }
                if (errorCount == 1) {
                    firstErrorInput = input;
                }
            }
        }

        /*
        * 表单校验
        */
        function validateForm() {
            errorCount = 0;
            formResult = true;

            $('form').find("input,textarea,select").each(function () {
                inputCheck($(this));
            });
            
            if (!formResult) {
                firstErrorInput.focus();
            }

            return formResult;
        }

        function showErrorTips(input, message) {
            var span = input.parent().find(".error-info");
            if (message) {
                span.html(message);
            }
            else {
                span.html(span.attr("errormsg"));
            }
            span.removeClass('hide');
        }
        function hideErrorTips(input) {
            input.parent().find(".error-info").addClass('hide');
        }

        $(function () {
            var rootNode = $('form');
            rootNode.on('blur', 'input', function () {
                if ($(this).attr("reg")) {
                    inputCheck($(this));
                }
            });

            var errorMsg = "";
            var errorCode = $('#hidErrorCode').val();
            if (errorCode === "101") {
                errorMsg = "该用户已被禁用，请联系管理员。";
            }
            else if (errorCode === "102") {
                errorMsg = "您输入的密码有误。";
                $('#Password').focus();
            }
            else if (errorCode === "103") {
                errorMsg = "您输入的用户名不存在。";
                $('#UserName').select();
            }
            if(errorMsg){
                $('#message').html(errorMsg).show();
            }
        });   
    </script>
</body>
</html>
