
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>帮助文档</h3>

<h4>如何创建用户？</h4>
<ol>
    <li>顶部主菜单选择组织机构</li>
    <li>左侧子菜单选择用户管理</li>
    <li>点击添加按钮"Add New+"打开创建用户页面</li>
    <li>填写用户信息，点击保存</li>
</ol>

