
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>帮助文档</h3>

<h4>如何创建用户？</h4>
<ol>
    <li>顶部主菜单选择<b>组织机构</b></li>
    <li>左侧子菜单选择<b>用户管理</b></li>
    <li>点击添加按钮"Add New+"打开创建用户页面</li>
    <li>填写用户信息，点击<b>保存</b></li>
</ol>

<br />
<h4>如何将一个用户的资源导出给另一个用户？</h4>
<ol>
    <li>顶部主菜单选择<b>组织机构</b></li>
    <li>左侧子菜单选择<b>用户管理</b></li>
    <li>找到要导出的用户，点击右侧<b>操作</b>按钮中的<b>资源导出</b></li>
    <li>按提示一步一步操作即可</li>
</ol>

<br />
<h4>如何修改密码？</h4>
<ul style="list-style:none;margin-left:10px;padding:0;">
    <li>您有<b>三种方式</b>修改密码：</li>
    <li>1.方式一：如果您知道自己当前的密码，可在<b>系统设置</b>-<b>修改密码</b>中修改</li>
    <li>2.方式二：向管理员申请重置您的密码，可将您的密码重置为默认值或其他您想设定的值</li>
    <li>3.方式三：在登录页面，点击<b>忘记密码</b>，按照提示操作即可重置。此功能需要你在个人资料中事先绑定邮箱</li>
</ul>

<br />
<h4>如何给资源打标签？</h4>
<ul style="list-style:none;margin-left:10px;padding:0;">
    <li>给资源打标签<b>有助于您快速管理资源</b>：</li>
    <li>1.在<b>资源管理</b>-<b>资源标签</b>中创建标签</li>
    <li>2.在<b>资源列表</b>页选择查询区域中的<b>操作</b>按钮中的<b>打标签</b>功能</li>
    <li>3.在2中会弹出一个操作面板，指定你要打的标签即可</li>
</ul>