
@{
    ViewData["Title"] = "Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{ 
    <style type="text/css">
        .time-line>li{
            margin:20px 0px;
        }
        .content-list>li{
            margin:6px 0px;
        }
    </style>
}
<h3>版本</h3>

当前版本：<span style="font-weight:bold;font-size:16px">v1.3.1</span>正式版。
<br />

<ul class="time-line">
    <li>
        <span><b>2018-11-10</b> 发布了v1.3.1，更新内容：<img src="/images/new.gif" /></span>
        <ul class="content-list">
            <li>业绩分析进行了项目隔离，已归属某一项目的用户只能看到所属项目的业绩数据；</li>
            <li>最具潜力业务排行现在不再限制人数；</li>
            <li>优化了排行榜的样式。</li>
        </ul>
    </li>
    <li>
        <span><b>2018-10-03</b> 发布了v1.3.0，更新内容：</span>
        <ul class="content-list">
            <li>不同的项目域内允许相同的资源存在；</li>
            <li>业绩管理增加了资金类型和客户身份证号两个字段；</li>
            <li>全新上线资源提醒功能！</li>
        </ul>
    </li>
    <li>
        <span><b>2018-9-16</b> 发布了v1.2.2，更新内容：</span>
        <ul class="content-list">
            <li>改进谈单人功能，现在可以指定哪些用户是谈单人；</li>
            <li>现在系统如果1小时未使用会自动掉线。</li>
        </ul>
    </li>
    <li>
        <span><b>2018-9-10</b> 发布了v1.2.1，更新内容：</span>
        <ol class="content-list">
            <li>增加了谈单人功能，现在可以在洽谈记录中添加谈单人，并可以按谈单人进行检索；</li>
            <li>修复了资源重复的问题；</li>
            <li>为菜单栏消失添加了跟踪日志，以进一步追踪问题。</li>
        </ol>
    </li>
    <li>
        <span><b>2018-4-8</b> 发布了v1.2.0，更新内容：</span>
        <ol class="content-list">
            <li>增加了"资源批量导入"功能；</li>
            <li>公共资源增加了批量"划分给自己"的功能；</li>
            <li>增加了3个资源状态：沟通待考察、沟通待了解、沟通待放弃；</li>
            <li>修复了"资源导出"功能导致的所有资源全部进入公库或垃圾库的问题；</li>
            <li>修复了某些情况下左侧菜单没有被正确选中的问题；</li>
            <li>修复了资源重复展示的问题；</li>
            <li>优化了一些UI细节和交互方式，提升了系统在低分辨率下的表现；</li>
            <li>增强了系统整体稳定性。</li>
        </ol>
    </li>
    <li>
        <span><b>2017-11-24</b> 发布了v1.1.11，更新内容：</span>
        <ul class="content-list">
            <li>改进了业绩统计的展现形式，为一些统计增加了日期条件；</li>
            <li>提高了电话量统计shadow bar所占比重以使视觉效果更美观。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-11-19</b> 发布了v1.1.10，更新内容：</span>
        <ol class="content-list">
            <li>修复了编辑用户时所属组为空的问题；</li>
            <li>修复了将资源状态设置为“已来访”后资源丢失的问题；</li>
            <li>修复了资源导出导致的整组资源丢失的问题；</li>
            <li>现在当资源是“公共”或“垃圾”状态时，将不允许被编辑，您必须将此资源划分到自己名下才能操作它；</li>
            <li>全新上线“业绩管理”功能。</li>
        </ol>
    </li>
    <li>
        <span><b>2017-9-23</b> 发布了v1.1.9，更新内容：</span>
        <ul class="content-list">
            <li>客户姓名的长度限制由20个字符增加至200个。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-22</b> 发布了v1.1.8，更新内容：</span>
        <ul class="content-list">
            <li>上线了资源删除权限，资源删除功能现在可以进行权限配置。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-21</b> 发布了v1.1.7，更新内容：</span>
        <ul class="content-list">
            <li>修复了资源批量分配页面未分配资源数量计算不准确的问题；</li>
            <li>资源批量分配页面的未分配数量提示信息现在在选择项目后才会展示。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-19</b> 发布了v1.1.6，更新内容：</span>
        <ol class="content-list">
            <li>意向强烈(浅橙色)、意向中等(淡橙色)、已来访(淡蓝色)的资源现在会有一个背景色；</li>
            <li>移除了公共资源和垃圾资源中的意向、业务员两列；</li>
            <li>修复了按业务组查询后业务员列表加载不出来的问题；</li>
            <li>修复了资源状态设置为已来访后资源丢失的问题；</li>
            <li>修复了一个资源批量分配引发的问题；</li>
            <li>资源列表页增加了新的查询条件“时间范围”。</li>
        </ol>
    </li>
    <li>
        <span><b>2017-9-17</b> 发布了v1.1.5，更新内容：</span>
        <ol class="content-list">
            <li>增加了新的资源状态"已来访"，表示客户已来公司考察但未签约；</li>
            <li>删除洽谈记录现在会同步更新资源的洽谈次数；</li>
            <li>解决了资源无查看电话号码权限时保存资源导致的电话号码变为*的问题；</li>
            <li>电话量统计不再包含由系统自动生成的洽谈记录；</li>
            <li>录入资源时如果快速连续点击"保存"按钮不会再重复添加了；</li>
            <li>现在资源列表中的下拉式查询条件在变更时会自动触发查询，无须再点击查询按钮，进一步简化操作；</li>
            <li>保存资源时现在会自动去除首尾空白字符；</li>
            <li>一些其他细节优化。</li>
        </ol>
    </li>
    <li>
        <span><b>2017-9-16</b> 发布了v1.1.4，更新内容：</span>
        <ul class="content-list">
            <li>修复了公共资源，垃圾资源，已签约翻页的问题；</li>
            <li>现在资源查询权限、资源分配权限、资源批量分配权限可以正确地限制了。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-14</b> 发布了v1.1.3，更新内容：</span>
        <ul class="content-list">
            <li>客户姓名长度限制现在增加至20个字符(原来15)；</li>
            <li>资源列表增加了新列"初次录入"；</li>
            <li>其他UI细节优化。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-13</b> 发布了v1.1.2，更新内容：</span>
        <ul class="content-list">
            <li>不再限制客户姓名的修改，现在可以修改客户姓名了;</li>
            <li>增加了客户电话的隐藏与显示功能，可在角色的权限中设置。</li>
        </ul>
    </li>
    <li>
        <span><b>2017-9-12</b> 发布了v1.1.0，更新内容：</span>
        <ol class="content-list">
            <li>增加了"电话量统计"功能；</li>
            <li>增加了"已签约"功能，现在可以方便地查看签约记录；</li>
            <li>为用户列表添加了查询功能，现在可以根据用户姓名，所属组，角色进行查询；</li>
            <li>优化了查询文本框的样式，优化了组业绩分析的图表呈现；</li>
            <li>修复了一些非紧要bug。</li>
        </ol>
    </li>
    <li>
        <div><b>2017-8-28</b> v1.0.0版本正式上线。</div>
    </li>
</ul>
