@font-face {
    font-family: ProductSans; /*定义font的名称*/
    src: url('~/fonts/Product Sans.ttf'); /*把下载的字体文件引入进来*/
}
/*body{
    font-family:ProductSans;
}*/
/*自定义样式*/
.search-select {
    height: 27px;
    border-radius: 1px !important;
    padding: 0px 3px
}

.panel-select {
    height: 27px;
    border-radius: 1px !important;
    padding: 0px 3px;
    width: 130px;
}

.panel-alert-info {
    font-size: 16px;
    color: green;
    font-weight: bold
}

.panel-alert-error {
    font-size: 16px;
    color: red;
    font-weight: bold
}

.wid {
    width: 235px;
}

/*.bar-left {
    width: 250px !important
}*/

.tip {
    color: red
}

.table-data {
    margin-top: 15px;
    font-size: 13px !important;
}


.control-group > label {
    width: 120px !important
}

.control-group > div {
    margin-left: 140px !important
}


.pager-ul {
    list-style: none;
    margin: 0;
}

.pager-ul > li {
    float: left;
    /*padding: 6px 8px;*/
    border-left: 1px solid #BFBFBF;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.pager-ul > li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pager-ul > li:last-child {
    border-right: 1px solid #BFBFBF;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager-ul > li > a, .pager-ul > li > span {
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 10px;
}

.active {
    background-color: #08c;
}

.active > a {
    color: white;
}

.simple-box {
    border: 1px solid #ccc;
    width: 700px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
}

.content-body {
    margin-top: 10px;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px
}

/* 资源列表页标签样式 */
.tag {
    cursor: pointer;
    padding: 4px 6px;
    margin-right: 5px;
    background-color: #ddd;
    text-shadow:none !important;
}

.tag-checked {
    /*background-color: #08c;
    color: white;*/
    border-radius: 0px !important;
    background-color: #2AB4E5;
}

/*.tag:hover {
    background-color: #08c;
    color: white;
}*/

.flex-content {
    display: flex;
    justify-content: flex-start
}

@media screen and (max-width: 1000px) {
    .content-left {
        min-width: 130px;
    }
}

@media screen and (max-width: 1400px) and (min-width:1000px) {
    .content-left {
        min-width: 170px;
    }
}
@media screen and (min-width: 1400px) {
    .content-left {
        min-width: 210px;
    }
}
.right {
    margin-left: 22px;
    width: 100%;
}
